body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.medviolet {
    color : mediumvioletred;
}

.font_futura {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.font_rockwell {
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

.font_monaco {
    font-family: monaco, Consolas, Lucida Console, monospace;
}