body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.medviolet {
    color : mediumvioletred;
}

.text_bigger {
    font-size : 125%;
}

.font_futura {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.font_rockwell {
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

.font_monaco {
    font-family: monaco, Consolas, Lucida Console, monospace;
    color: #e5e5e5;
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, 1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

